@import "bootstrap/scss/functions";
$font-family-sans-serif:'Open Sans', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$body-color:#000000;
$primary:#1D8CEA;
$secondary:#6D6D6D;

$font-weight-bolder:800;

$border-color: #C2C2C2;
@import "bootstrap/scss/variables";

//Typography
$font-family-primary: $font-family-sans-serif;
$font-family-secondary: 'Quicksand', sans-serif;





