@import "bootstrap/scss/functions";
$font-family-sans-serif:'Roboto', sans-serif;

$body-color:#000000;
$secondary:#5C5959;

$font-weight-bolder:800;

$border-color: #C2C2C2;
@import "bootstrap/scss/variables";

//Typography
$font-family-primary: $font-family-sans-serif;

/* 
$font-family-secondary: 'Poppins', sans-serif;
$font-family-tertiary: 'Montserrat', sans-serif; */




