
body {
  background-color: #F5F5F5;
}


.fw-500{
  font-weight: 500 !important;
}
.fw-600{
  font-weight: 600 !important;
}

a{
  text-decoration: none;
  color: unset;
  &:active{
    outline: none;
    color: unset;
  }
  &:visited{
    color: unset;
  }
}
button{
  &:focus{
    box-shadow: none !important;
  }
}
.btn-primary{
  color: #FFFFFF !important;
}
.btn-outline-primary:hover,.btn-check:checked + .btn-outline-primary{
  color: #FFFFFF !important;
}
.btn-check:focus + .btn-outline-primary,.btn-check:checked + .btn-outline-primary:focus,.btn-outline-primary:focus{
  box-shadow: none !important;
}




.font-primary{
  font-family: $font-family-primary;
}
.font-secondary{
  font-family: $font-family-secondary;
}
.visually-hidden{
  display: none;
}


.text-justify{
  &--mobile{
    @include media-breakpoint-down(sm) {
      text-align: justify;
    }
  }
}
.font-sm{
  font-size:$font-size-sm !important;
}