.toast{
  width: 233px;
  height: 49px;
  background: #FFFFFF;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border:none;
}

.mini-dashboard{
  width: 634px;
  height: 165px;
  background: #FFFFFF;
  border-radius: 15px;
}